version: '3.8'

services:
  db:
    image: postgres:14
    restart: always
    container_name: activamigos-db
    environment:
      POSTGRES_USER: activamigos
      POSTGRES_PASSWORD: activamigos123
      POSTGRES_DB: activamigos_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
