<nav class="fixed bottom-0 left-0 w-full bg-white border-t border-gray-200 pb-safe z-30">
  <div class="flex justify-around items-center h-16">
    <a *ngFor="let item of navItems" 
       [routerLink]="[item.path]"
       class="flex flex-col items-center justify-center w-full h-full space-y-1 relative" 
       [class.text-indigo-600]="isActive(item.path)"
       [class.text-gray-400]="!isActive(item.path)">
      
      <span class="text-2xl relative flex items-center justify-center">
        
        <ng-container *ngIf="item.path === '/profile' && userProfileImage; else defaultIcon">
            <img [src]="userProfileImage" 
                 class="w-7 h-7 rounded-full object-cover border border-gray-200"
                 [class.border-indigo-600]="isActive(item.path)"
                 [class.border-2]="isActive(item.path)">
        </ng-container>

        <ng-template #defaultIcon>
            {{ item.icon }}
        </ng-template>
        
        <span *ngIf="item.path === '/profile' && hasNewNotification" 
              class="absolute -top-1 -right-1 w-3 h-3 bg-red-500 rounded-full border-2 border-white animate-pulse z-10">
        </span>
      </span>
      
      <span class="text-xs font-medium">{{ item.label }}</span>
      
      <div *ngIf="isActive(item.path)" 
           class="absolute top-0 w-12 h-1 bg-indigo-600 rounded-b-lg transition-all duration-300">
      </div>
    </a>
  </div>
</nav>