@import "tailwindcss";

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Plus Jakarta Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #1f2937;
  background-color: #ffffff;
}

